<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <title>Hello</title>
</head>
<body>
<h1>Журнал возврата книг</h1>
<form method="post">
    <label for="start">Начало:</label>
    <input type="date" id="start" name="start"
       min="1900-01-01" max="2099-12-31" value="1900-01-01">
    <label for="start">Конец:</label>
    <input type="date" id="end" name="end"
       min="1900-01-01" max="2099-12-31" value="2099-01-01"><br>
    <br>
    <label for="users">Пользователь:</label>
    <select name="users" id="users">
        {% for el in available_user %}
        <option value="{{el.Name}}">{{el.Name}}</option>
        {% endfor %}
    </select>
    <br>
    <label for="users">Формат выгрузки:</label>
    <select name="format_downloaded_file" id="format_downloaded_file">
        <option value="JSON">JSON</option>
        <option value="CSV">CSV</option>
    </select><br>
    <p>
        <a href="{{url_for('download_file')}}">Download</a>
    </p>
    <br>
    <br>
    <input type="submit" value="Сформировать журнал">
</form>
<br>
<br>
<table>
<thead><tr><th>Название книги</th><th>Дата выдачи</th></tr></thead>
<tbody>
{% for el in table_given_books %}
<tr><td>{{el.id_book}}</td><td>{{el.date_action}}</td></tr>
{% endfor %}
</tbody>
</table>
</form>
</body>
</html>



