<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <title>Hello</title>
</head>
<body>
<h1>Журнал выдачи книги</h1>
<form method="post">
    <label for="start">Начало:</label>
    <input type="date" id="start" name="start"
       min="1900-01-01" max="2099-12-31" value={{start_date}}>
    <label for="start">Конец:</label>
    <input type="date" id="end" name="end"
       min="1900-01-01" max="2099-12-31" value={{end_date}}>
    <br>
    <label for="users">Пользователь:</label>
    <select name="users" id="users">
        {% for el in available_user %}
        <option value="{{el.Name}}" {% if current_user==el.Name %} selected="selected"{% endif %}>{{el.Name}}</option>
        {% endfor %}
    </select>
    <br>

    <br>
    <br>
    <input type="submit" value="Сформировать журнал">
</form>
<br>
<br>

<form action="/download" method="POST" >
    <input type="hidden" name="start" value={{start_date}}>
    <input type="hidden" name="end" value={{end_date}}>
    <input type="hidden" name="type_of_log" value={{type_of_log}}>

    <select hidden name="users" id="users_download">
        {% for el in available_user %}
        <option value="{{el.Name}}" {% if current_user==el.Name %} selected="selected"{% endif %}>{{el.Name}}</option>
        {% endfor %}
    </select>
<label for="users">Формат выгрузки:</label>
    <select name="format_downloaded_file" id="format_downloaded_file">
        <option value="JSON">JSON</option>
        <option value="CSV">CSV</option>
    </select><br>
    <button type="submit">Download</button>
</form>

<h1>Журнал выдачи книги для клиента {{current_user}}</h1>
<table>
<thead><tr><th>Название книги</th><th>Дата выдачи</th></tr></thead>
<tbody>
{% for el in table_given_books %}
<tr><td>{{el.Title}}</td><td>{{el.date_action}}</td></tr>
{% endfor %}
</tbody>
</table>
</form><br>
<br>
<br>
      <form action="/upload" method="POST" enctype="multipart/form-data">
         <h1>Загрузка данных</h1>
<label for="users">Формат загрузки:</label>
    <select name="format_uploaded_file" id="format_uploaded_file">
        <option value="JSON">JSON</option>
        <option value="CSV">CSV</option>
    </select><br>
        <div class="form-group">
          <label>Select file</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="uploaded_file" id="uploaded_file">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
</body>
</html>



